.sidebar {
    width: 260px;
    background: var(--prussian-blue);
    color: var(--platinum);
    border-radius:0 20px 20px 0;
}

.sidebar ul {
   display: flex;
   flex-direction: column;
   padding: 0;
   
}

.sidebar li {
    height: 4rem;
    
    align-items: center;
    display: flex;
    transition: .2s ease;
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    transition: .2s ease;
    padding: 0 2rem;
}

.sidebar li a:hover {
    translate: 2rem 0;
}

.sidebar li:hover{
background-color: var(--yellow);
color: var(--News-letter-background);

}