.create-user-container{
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.create-user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}


.create-user-inputs{
    display: flex;
    gap: 1rem;

}

.create-user-input{
    padding: 0.5rem;
    font-size: 1rem;
    width: 20rem;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    font-weight: 600;
}

.users-table tbody tr:hover {
    background-color: #f5f5f5;
}